{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@components": "./src/components",
                    "@api": "./src/api",
                    "@hooks": "./src/hooks",
                    "@services": "./src/services",
                    "@typeDefs": "./src/types",
                    "@utils": "./src/utils",
                }
            }
        ]
    ]
}